@font-face {
    font-family: aotf;
    src: url(../FONTS/AOTFShinGoProMedium.otf);
}

@font-face {
    font-family: rastanty;
    src: url(../FONTS/Rastanty\ Cortez.otf);
}

@font-face {
    font-family: phagspa;
    src: url(../FONTS/phagspa.ttf);
}

@font-face {
    font-family: univers;
    src: url(../FONTS/UniversLTStd.otf);
}

button {
    background-color:#843C0C;
    color: #fff;
    border:2px solid #af734b; 
    border-radius:5px; 
    padding:10px;
    min-height:20px; 
    min-width: 120px;
    font-family: aotf;
}

button:hover {
    background-color: white;
    transition: 0.7s;
}

button:active {
    background-color: #5f0c0c;
}

a{
    text-decoration:none;
    font-family: aotf;
    color: white;
}

p{
    font-family: aotf;
}

h3{
    font-family: rastanty;
    font-size:40px;
    margin-top: 0;
    margin-bottom:0;
}


.flexnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C00000;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left:0px;
}
#start-button{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

#Logo-Golden-Sinilog{
    margin-top: 10px;
}

#end-button{
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

#HomeNavButton{
    margin: auto;
    margin-left: 30px;
}

#AboutUsButton{
    margin: auto;
    margin-left: 15px;
}

#LoginB{
    position: absolute;
    right:8%;
}

#OrderB{
    position: absolute;
    right: 5px;
}

.MainText{
    margin: auto;
    margin-top: 100px;
    width: 80%;
    padding: 10px;
    text-align: center;
    color: white;
}

#bold-flavors{
    text-align: center;
    font-size: 30;
    font-family: univers;
    margin-bottom:5px;
}

#paragraphWelcome{
    margin: auto;
    margin-top: 5px;
    width: 60%;
    padding: 10px;
    text-align: center;
}


body{
    background-image: url('../IMAGES/general/BrownWood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.FoodDisplays{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Foods{
    border-radius: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 300px;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}

.price{
    margin-top: 0;
    margin-bottom: 0;
}

.shopnow {
    margin-top: 0px;
    background-color:#843C0C;
    color: #fff;
    border:2px solid #af734b; 
    border-radius:5px; 
    padding:5px;
    min-height:20px; 
    min-width: 50px;
    font-family: aotf;
}

.shopnow:hover {
    background-color: white;
    transition: 0.7s;
}

.shopnow:active {
    background-color: #5f0c0c;
}

.bottomPriceCart{
    margin-top: 60;
    display: flex;
    justify-content: space-between;
}

.loginbutton{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px;
    min-width: 80px;
}