@font-face {
    font-family: aotf;
    src: url(../FONTS/AOTFShinGoProMedium.otf);
}

@font-face {
    font-family: rastanty;
    src: url(../FONTS/Rastanty\ Cortez.otf);
}

@font-face {
    font-family: phagspa;
    src: url(../FONTS/phagspa.ttf);
}

a{
    text-decoration:none;
    font-family: aotf;
    color: white;
}

p{
    font-family: aotf;
}

h3{
    font-family: rastanty;
}
.flexnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
}
#start-button{
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
}

#Logo-Golden-Sinilog{
    margin-top: 10px;
}

#end-button{
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}

#HomeNavButton{
    margin: auto;
    margin-left: 15px;
}

#AboutUsButton{
    margin: auto;
    margin-left: 15px;
}

#LoginB{
    position: absolute;
    right:8%;
}

#OrderB{
    position: absolute;
    right: 5px;
}

.MainText{
    margin: auto;
    margin-top: 100px;
    width: 80%;
    padding: 10px;
    text-align: center;
    color: white;
}

#bold-flavors{
    font-size: 30;
    font-family: phagspa;
}

#paragraphWelcome{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    padding: 10px;
    text-align: center;
}

body{
    background-image: url('../IMAGES/general/BrownWood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.FoodDisplays{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Foods{
    border-radius: 10px;
    color: white;
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 300px;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 20px;
}