@font-face {
    font-family: aotf;
    src: url(../FONTS/AOTFShinGoProMedium.otf);
}

@font-face {
    font-family: rastanty;
    src: url(../FONTS/Rastanty\ Cortez.otf);
}

@font-face {
    font-family: phagspa;
    src: url(../FONTS/phagspa.ttf);
}

@font-face {
    font-family: univers;
    src: url(../FONTS/UniversLTStd.otf);
}

*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: 0px;
}

body{
    background-image: url('../IMAGES/general/BrownWood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    background-color:#843C0C;
    color: #fff;
    border:2px solid #af734b; 
    border-radius:5px; 
    padding:10px;
    min-height:20px; 
    min-width: 120px;
    font-family: aotf;
}

button:hover {
    background-color: #9e765b;
    transition: 0.7s;
}

button:active {
    background-color: #5f0c0c;
}


p{
    font-family: aotf;
}

h3{
    font-family: rastanty;
    font-size:40px;
    margin-top: 0;
    margin-bottom:0;
}

.flexnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C00000;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left:0px;
}

.nav_loginbutton{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px;
    min-width: 80px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.container-background{
    width: 90%;
    height: 500px;
    border-radius: 10%;
    margin: 0px 50px;
    background-color: rgba(83,69,53, 0.5);
}

.white-text{
    color: white;

}
