@font-face {
    font-family: aotf;
    src: url(../FONTS/AOTFShinGoProMedium.otf);
}

@font-face {
    font-family: rastanty;
    src: url(../FONTS/Rastanty\ Cortez.otf);
}

@font-face {
    font-family: phagspa;
    src: url(../FONTS/phagspa.ttf);
}

@font-face {
    font-family: univers;
    src: url(../FONTS/UniversLTStd.otf);
}

*{
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: 0px;
}

body{
    background-image: url('../IMAGES/general/BrownWood.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



p{
    font-family: aotf;
    margin: 40px;
    font-size: 20px;
}

h1{
    font-family: rastanty;
    font-size:40px;
    margin-top: 0;
    margin-bottom:0;
}

h2{
    font-size: 40px;
    color: white;
}


.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

.container-background{
    width: 90%;
    height: 100%;
    border-radius: 10%;
    margin: 0px 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.white-text{
    color: white;

}

.larger-size{
    font-size: 50px;
}

