
body {

	background-image: url("Images/temp-bg3.jpg");
	background-size: cover;
}


.tagline {

	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.navbar-custom-color{
	background-color: rgb(192,0,0);
}

.custom-space{
	padding-left: 2px;
	padding-right: 2px;
	margin-left: : 2px;
	margin-right: : 2px;
}

.more-margin-side{
	margin-left: 10px;
	margin-right: 10px;
}

.text-white{
	text-decoration-color: white;
}

.text-bold{
	text-decoration: bold;
}

.transparent-bg{
	background-color: rgba(0, 0, 0,.5);
}

.specifically-tagline-description-text{
	margin-left: 15rem;
	margin-right: 15rem;
}


.card-panning{
	margin-left: 50px;
	margin-right: 50px;
}